.match-list {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.match-list h1 {
  text-align: center;
  margin-bottom: 20px;
}

.match-item {
  display: flex;
  justify-content: space-between;
  background: #f9f9f9;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.match-item .match-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.match-item button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.match-item button:hover {
  background-color: #45a049;
}

.match-item span {
  margin-bottom: 5px;
}
